.card {
  margin: 3px 0px 3px 0px;
}

.card-img-top {
  max-height: 250px;
}

.VideoPlayer__wrapper {
  margin-bottom: 20px;
}

.VideoFinder__wrapper {
  margin-bottom: 20px;
}

.card-body {
  background-color: #8866ee;
}
