

.card {
  margin: 0px 5px 5px 0px;
}

.card-img-top {
  max-height: 210px;
}

.VideoFinder__wrapper {
  margin-bottom: 10px;
  margin-top: 10px;
}

.nav-logo {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.nav-bar {
  margin-bottom: 5px;
}
